.box {
    margin: 1%;
}

h1 {
  font-family: Verdana, sans-serif;
	text-align: center;
	color: #FFF;
	background-color: rgba(26,179,148,0.7);
}

h3 {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: #FFF;
  background-color: rgba(179,57,26,0.7);
}

.label {
  padding-right: 15px;
}

a {
    text-align: center;
    margin: 0px; 
}

img {
    width: 100%;
    margin-bottom: 8px;
}

body, html {
    height: 100%;
    background-color: #eeeeee;
}

/* quiz css*/
body {
  background-color: #efefef;
}
.quiz-title{
  
}
.quiz-description {
  color: gray;
}
.quiz-question {
  font-weight: 300;
  padding: 15px 0 10px 0;
}
.quiz-question-strong {
  font-weight: 600;
  padding: 15px 0 10px 0;
}
.quiz-answer{
  margin:12px 0 20px 0;
}
.quiz-group {
  margin: 8px 0;
}

.quiz-yn-group {
  background: #fff;
  height: 100%;
  border: 1px solid #cbcbcb;
}

.btn:hover {
    background-color: rgba(26,179,148,0.7);
}

.btn {
    margin-top: 8px;
    background-color: #cbcbcb;
    border-color: #cbcbcb;
}

.progress-bar-striped {
    margin-bottom: 2px;
}

/* end quiz css */

.custom-control {
	padding: 0px;
	width: 25%;
}

.navbar {
    margin-bottom: 8px;
}

.navbar-nav {
    font-family: Verdana, sans-serif;
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}


footer {
    margin-top: 20px;
    width: 100%;
    color: #FFF;
    background-color: rgba(26,179,148,0.7);
}

@media (max-width: 768px) {
    .navbar-nav > li {
        float: none;
        width: 100%;
    }