.box {
    margin: 1%;
}

body {
    background-color: #fff;
}

.my-rating {
    font-size: 12px;
}

h1 {
    font-family: Verdana, sans-serif;
	text-align: center;
	color: #FFF;
	background-color: rgba(26,179,148,0.7);
}

h3 {
  font-family: Verdana, sans-serif;
  text-align: center;
  color: #FFF;
  background-color: rgba(179,57,26,0.7);
}


.text {
    font-size: 24px;
    text-align: center;
    color: #FFF;
    background-color: rgba(179,57,26,0.7);
}

p {
    font-family: Verdana, sans-serif;
    text-align: left;
}

.navbar {
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 8px;
}

.navbar-nav {
    font-family: Verdana, sans-serif;
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

a {
    text-align: center;
    margin: 0px; 
}

img {
    width: 100%;
    margin-bottom: 8px;
}

body, html {
    height: 100%;
}

.info {
    text-align: left;
}

.card-body{
    padding: 2%;
}

.card-group {
    margin-bottom: 8px;
}

.card-text {
    text-align: left;
}

h5 {
	text-align: center;
	color: #FFF;
	background-color: rgba(26,179,148,0.6);
}

.container-fluid {
    padding-left: 0px;
    padding-right: 0px;
}

.map-responsive{
    overflow:hidden;
    padding-bottom:50%;
    position:relative;
    height:0;
}
.map-responsive iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.form-group {
    width: 25%;
}


#cnt1 {
    background-color: rgba(215, 212, 212, 0.88);
    margin-bottom: 70px;
}

#panel1 {
    padding:20px;
}

.panel-body:not(.two-col) {
    padding: 0px;
}

.panel-body .radio, .panel-body .checkbox {
    margin-top: 0px;
    margin-bottom: 0px;
}

.panel-body .list-group {
    margin-bottom: 0;
}

.margin-bottom-none {
    margin-bottom: 0;
}


footer {
    margin-top: 8px;
    width: 100%;
    color: #FFF;
    background-color: rgba(26,179,148,0.7);
}

@media (max-width: 768px) {
    .navbar-nav > li {
        float: none;
        width: 100%;
    }