<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
        <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>

  <body class="box">

    <h1>New York First Step</h1>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/serviceprovider.html">Service provider</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/opioidquiz.html">Opioid Quiz</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/donation.html">Donation</a>
          </li>

        </ul>
          
      </div>
    </nav>

    <h3 class="text-center">Hello</h3>
    <!-- profile -->
    <div class="container-fluid">
      
      <div class="row extra_margin">
        
        <div class="col-md-4">
          
          <img src="../img/Logo_1.png" alt="My Logo">
          <h2 class="text-center">Moe Quinn</h2>
        
        </div>
      

        <div class="col-md-8">
            
          <p class="lead extra_margin">I created this website to help inform people who knows someone who is struggling with drug addiction, especially with Opioids addiction. I added a few informational links of service provider and medical professionals that can help with getting the treatment necessary to break free from drug addiction. You can check out the map search or the list of places where you can find the help you need and hopefully it helps reduce the mortality rate of dose.</p>
            
          <hr>

          <p>Any donation made is much appreciated. Donation ranges from $5 through $100 dollars. Thank You and have a nice day.</p>

          <hr>

          <p>Opioids are a class of drugs naturally found in the opium poppy plant. Some prescription opioids are made from the plant directly, and others are made by scientists in labs using the same chemical structure. Opioids are often used as medicines because they contain chemicals that relax the body and can relieve pain. Prescription opioids are used mostly to treat moderate to severe pain, though some opioids can be used to treat coughing and diarrhea. Opioids can also make people feel very relaxed and "high" - which is why they are sometimes used for non-medical reasons. This can be dangerous because opioids can be highly addictive, and overdoses and death are common. Heroin is one of the world's most dangerous opioids, and is never used as a medicine in the United States.</p>
        
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
    	<div class="row">
      		<div class="col-md-6">
        		
        		<h4>www.github.io</h4>
      		</div>

      		<div class="col-md-6">
        		
        		<h4>&copy; Moe Quinn 2018</h4>
        	</div>
        </div>
    </footer>

  </body>
</html>