<!DOCTYPE html>
<html lang="en">
  <head>
    <title>About</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
        <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>

  <body class="box">

    <h1>Welcome To New York City Second Chance</h1>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/serviceprovider.html">Find a service provider near you</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/opioidquiz.html">Take our Opioid Quiz</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/donation.html">Donation</a>
          </li>

        </ul>
          
      </div>
    </nav>

      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              Anything goes here
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary">Save changes</button>
            </div>
          </div>
        </div>
      </div>
      
    </div>

    <!-- profile -->
    <div class="container-fluid">
      
      <div class="row extra_margin">
        
        <div class="col-md-4">
          
          <img src="http://via.placeholder.com/300x250">
          <h2>Name First Last</h2>
          
          <a class="btn btn-primary btn-xs" href="https://moequinn.github.io/MMP200_Final_Project/" role="button">Website</a>
        
        </div>
      

        <div class="col-md-8">
            
          <p class="lead extra_margin">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum ligula quis nibh feugiat venenatis. Aenean egestas volutpat pellentesque. Morbi venenatis, ex non mollis placerat, est arcu facilisis mi, ut bibendum diam libero at quam. Proin ultrices dolor nisl, nec lobortis sapien aliquet a. Suspendisse libero tellus, porttitor et dapibus at, eleifend et diam. Duis sollicitudin risus vel tincidunt scelerisque. Praesent sodales turpis non viverra dignissim. Donec porta quam urna, et porta eros maximus id. Fusce efficitur dolor non nibh elementum, eu consectetur tortor porttitor. Integer auctor bibendum facilisis. In hac habitasse platea dictumst. Suspendisse in interdum libero.</p>
            
          <hr />

          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum ligula quis nibh feugiat venenatis. Aenean egestas volutpat pellentesque. Morbi venenatis, ex non mollis placerat, est arcu facilisis mi, ut bibendum diam libero at quam. Proin ultrices dolor nisl, nec lobortis sapien aliquet a. Suspendisse libero tellus, porttitor et dapibus at, eleifend et diam. Duis sollicitudin risus vel tincidunt scelerisque. Praesent sodales turpis non viverra dignissim. Donec porta quam urna, et porta eros maximus id. Fusce efficitur dolor non nibh elementum, eu consectetur tortor porttitor. Integer auctor bibendum facilisis. In hac habitasse platea dictumst. Suspendisse in interdum libero.</p>

          <p>Nunc nulla tortor, efficitur sed lobortis elementum, facilisis quis nibh. Vivamus vel felis sed leo porttitor rhoncus vel in ex. Mauris purus risus, suscipit sed hendrerit et, fermentum non nunc. Quisque ut nunc massa. Quisque non nunc finibus, tincidunt metus quis, maximus ex. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras sit amet erat ut enim pellentesque finibus vitae eu arcu. Ut facilisis augue urna, in egestas dolor varius et. Nulla vitae neque at lacus gravida cursus ac sit amet lacus.</p>

          <p>Phasellus nec tortor cursus, maximus lectus vitae, mattis tortor. Pellentesque vitae lacinia lorem. Nullam et sem ac nisi ornare consectetur. Quisque rhoncus tortor vel condimentum fermentum. Aliquam efficitur congue libero, sed gravida ipsum volutpat et. Aenean mollis ac velit vitae sodales. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Integer finibus facilisis tristique. Mauris pellentesque elit et lectus convallis feugiat.</p>

          <p>Integer sodales scelerisque enim at malesuada. Sed facilisis velit nibh, eget ullamcorper erat mattis vitae. In tempor, nunc a rhoncus cursus, ligula lacus rutrum nunc, et tristique metus diam at tortor. Fusce varius in orci vitae rutrum. Praesent tempus, nunc in ultricies rutrum, elit felis placerat urna, vel semper lectus ante vel dolor. Nulla ornare pellentesque risus eu lobortis. Sed scelerisque quam leo, ut faucibus turpis tincidunt vitae. Sed arcu sapien, maximus ut libero et, lobortis molestie ante. Nunc consequat arcu maximus ullamcorper venenatis. Praesent nec orci dignissim, egestas odio vel, congue tellus.</p>

          <p>Sed pellentesque velit tempor, elementum magna et, fermentum est. Praesent at augue eu nisl finibus pellentesque eget ac diam. Cras rhoncus venenatis diam sit amet ultrices. Morbi laoreet urna sed velit elementum, id dapibus mi tincidunt. Vestibulum in suscipit magna. Phasellus lacinia dolor vitae ligula tristique bibendum. Ut tincidunt nisi in erat cursus, in ultrices sem convallis. Proin laoreet placerat erat ut aliquam. Sed quis urna sit amet ex sollicitudin ullamcorper ac in sem. Aenean purus quam, dapibus sit amet elementum viverra, imperdiet non magna.</p>
        
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
    	<div class="row">
      		<div class="col-md-6">
        		<h3>Contact At</h3>
        		<h4>www.github.io</h4>
      		</div>

      		<div class="col-md-6">
        		<h3>Web Designer</h3>
        		<h4>&copy; Moe Quinn 2018</h4>
        	</div>
        </div>
    </footer>

  </body>
</html>