<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Donation</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
        <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>

  <body class="box">

    <h1>Welcome To New York City First Step</h1>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/serviceprovider.html">Find a service provider near you</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/opioidquiz.html">Take our Opioid Quiz</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/donation.html">Donation</a>
          </li>

        </ul>
          
      </div>
    </nav>

    <h3 class="text">Donation</h3>
    <img src="../img/nycbg1.jpg" alt="NYC">
    <p class="text">Please Make A Difference And Make Your Donation</p>

    <!-- Forms -->
    <form class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="validationTooltip01">First name</label>
          <input type="text" class="form-control" id="validationTooltip01" placeholder="First name" value="Mark" required>
          <div class="valid-tooltip">Looks good!</div>
        </div>
        
        <div class="col-md-4 mb-3">
          <label for="validationTooltip02">Last name</label>
          <input type="text" class="form-control" id="validationTooltip02" placeholder="Last name" value="Otto" required>
          <div class="valid-tooltip">Looks good!</div>
        </div>
        
        <div class="col-md-4 mb-3">
          <label for="validationTooltipUsername">Username</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
            </div>
            
            <input type="text" class="form-control" id="validationTooltipUsername" placeholder="Username" aria-describedby="validationTooltipUsernamePrepend" required>
            
            <div class="invalid-tooltip">Please choose a unique and valid username.</div>
          </div>
        </div>
      </div>
      
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="validationTooltip03">City</label>
          <input type="text" class="form-control" id="validationTooltip03" placeholder="City" required>
          <div class="invalid-tooltip">Please provide a valid city.</div>
        </div>
        
        <div class="col-md-3 mb-3">
          <label for="validationTooltip04">State</label>
          <input type="text" class="form-control" id="validationTooltip04" placeholder="State" required>
          
          <div class="invalid-tooltip">Please provide a valid state.</div>
        </div>
        
        <div class="col-md-3 mb-3">
          <label for="validationTooltip05">Zip</label>
          <input type="text" class="form-control" id="validationTooltip05" placeholder="Zip" required>
          <div class="invalid-tooltip">Please provide a valid zip.</div>
        </div>
      </div>

      <!-- Donation Amount -->
      <div class="form-group">
        <label for="sel1">Donation Amount:</label>
        <select class="form-control" id="sel1">
          <option>$5</option>
          <option>$10</option>
          <option>$50</option>
          <option>$100</option>
        </select>
      </div>

      <!-- Submit form -->
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>

    <!-- Footer -->
    <footer class="text-center">
    	<div class="row">
      		<div class="col-md-6">
        		<h3>Contact At</h3>
        		<h4>www.github.io</h4>
      		</div>

      		<div class="col-md-6">
        		<h3>Web Designer</h3>
        		<h4>&copy; Moe Quinn 2018</h4>
        	</div>
        </div>
    </footer>

  </body>
</html>
