<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Quiz</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
        <link rel="stylesheet" type="text/css" href="../css/quiz.css">
        
  </head>

  <body class="box">

    <h1>Welcome To New York First Step</h1>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/serviceprovider.html">Service provider</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/opioidquiz.html">Opioid Quiz</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/donation.html">Donation</a>
          </li>

        </ul>
          
      </div>
    </nav>

    <!-- Quiz Form -->
    <h4>Opioids Quiz True or False Questions</h4>
    <div class="container">
      <div class="row">
        <div class="quiz-yn-group col-md-6">
          <div class="quiz-question"><strong>1. </strong>In Ancient Greek Opium was important in Greek medicine? True or False?
          </div>
        
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>
        </div>
    
        <div class="quiz-yn-group col-md-6">
          <div class="quiz-question"><strong>2. </strong>These three drugs, morphine, codeine, and marijuana are all opioids? True or false?
          </div>
        
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="quiz-yn-group col-sm-6">
          <div class="quiz-question"><strong>3. </strong>Heroin is three times more potent than morphine? True or False?</div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>
        </div>
      
        <div class="quiz-yn-group col-sm-6">
          <div class="quiz-question"><strong>4. </strong>Codeine is the secondary active agent in opium? True or False?
          </div>
        
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>

        </div>
      </div>

      <div class="row">
        <div class="quiz-yn-group col-sm-6">
          <div class="quiz-question"><strong>5. </strong>Did you know that most peole belief that Opioids are not addicted? True or False?</div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>
        </div>
      
        <div class="quiz-yn-group col-sm-6">
          <div class="quiz-question"><strong>6. </strong>More than three-quarters of heroin users started by abusing prescription opioids? True or False?
          </div>
        
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>
        
        </div>
      </div>

      <div class="row">
        <div class="quiz-yn-group col-sm-6">
          <div class="quiz-question"><strong>7. </strong>Declaring the opioid crisis a public health emergency, federal funds were given to be spent combatting the epidemic? True or False?</div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>
        </div>
      
        <div class="quiz-yn-group col-sm-6">
          <div class="quiz-question"><strong>8. </strong>Did you know that New York, Ohio, and Florida are three states that have the highest rate of opioid overdose deaths. True or False?
          </div>
        
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>
        
        </div>
      </div>

      <div class="row">
        <div class="quiz-yn-group col-sm-6">
          <div class="quiz-question"><strong>9. </strong>It takes four hours after previous use does a heroin user begin to feel withdrawal symptoms. True or False?</div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>
        </div>
      
        <div class="quiz-yn-group col-sm-6">
          <div class="quiz-question"><strong>10. </strong>Opioids is used for Pain Relief, Save lives by counteracting diarrhea and Cough Suppressant. True or False?
          </div>
        
          <div class="checkbox">
            <label>
              <input type="checkbox" value="True"> True</label>
            <label>
              <input type="checkbox" value="False"> False</label>
          </div>
        
        </div>
      </div>  

      <!-- Large modal -->
      <div class="text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">See Result</button>

        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <h1>Answers</h1>
              <p>1. True</p>
              <p>2. False</p>
              <p>3. True</p>
              <p>4. True</p>
              <p>5. False</p>
              <p>6. True</p>
              <p>7. True</p>
              <p>8. True</p>
              <p>9. True</p>
              <p>10. True</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--END True/False quiz -->

    <!-- Footer -->
    <footer class="text-center">
    	<div class="row">
      		<div class="col-md-6">
        		
        		<h4>www.github.io</h4>
      		</div>

      		<div class="col-md-6">
        		
        		<h4>&copy; Moe Quinn 2018</h4>
        	</div>
        </div>
    </footer>

  </body>
</html>
