<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Service Provider</title>
  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
 
        <link rel="stylesheet" type="text/css" href="../css/style.css">
  </head>

  <body class="box">

    <h1>New York First Step</h1>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

      <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="../index.html">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/about.html">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../templates/serviceprovider.html">Service provider</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/opioidquiz.html">Opioid Quiz</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="../templates/donation.html">Donation</a>
          </li>

        </ul>
          
      </div>
    </nav>

    <!-- Map -->
    <h3 class="text">Find A Service Provider Near You</h3>
    <div class="container-fluid">
      <div class="map-responsive">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d48190.0247618185!2d-74.029249499939!3d40.75470248847514!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sopioid+addiction+treatment+centers+near+me!5e0!3m2!1sen!2sus!4v1525657542040" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>

    <!-- Links to medical centers -->
    <div id="accordion">
      <div class="card">
        <div class="card-header" id="headingOne">
          <p class="mb-0">
            <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Click Here</button></p>
        </div>

        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
          <div class="card-body">

            <ul style="list-style-type:disc">
              <li><a href="http://opioidaddictions.net/">Opioid Crisis Center</a></li>
              <li><a href="https://revcorerecovery.com/client-treatment/">Revcore</a></li>
              <li><a href="http://www.compasshealthgroup.com/">Compass Health Group</a></li>
              <li><a href="https://mountainside.com/locations/new-york-city/">Mountainside</a></li>
              <li><a href="https://www.parallaxcenter.com/">Parallaxcenter</a></li>
              <li><a href="http://www.stvincentswestchester.org/outpatient-programs/opioid-treatment-services">St. Vincent's Hospital Westchester</a></li>
              <li><a href="http://www.recoveryspotny.com/">The Recovery Spot NY</a></li>
              <li><a href="http://harmreduction.org/">Harm Reduction Coalition</a></li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
    	<div class="row">
      		<div class="col-md-6">
        		
        		<h4>www.github.io</h4>
      		</div>

      		<div class="col-md-6">
        		
        		<h4>&copy; Moe Quinn 2018</h4>
        	</div>
        </div>
    </footer>

  </body>
</html>